*.DS_Store
*.o
*.d
*.hmap
Build/
DerivedData/
paanipuri.xcodeproj/project.xcworkspace/xcuserdata/
paanipuri.xcodeproj/xcuserdata/
paanipuri/thirdparty/soil/CMakeFiles
paanipuri/thirdparty/soil/CMakeCache.txt
paanipuri/thirdparty/soil/cmake_install.cmake